



go

create view hiánya as
--1
select belso.*, heti_óraszám - hany_van as hiany
from
	(select osztály,tant, count(osztály) as hany_van
	from órarend
	group by osztály, tant
	union 
	select osztály,tant, 0 from tanít
	where osztály + tant not in (select osztály + tant from órarend))belso 
	inner join tantárgy on tantárgy.tant = belso.tant
where heti_óraszám > belso.hany_van
go

create view hiányb as
--2
select belso.*, heti_óraszám - hany_van as hiany
from
	(select osztály,tant, count(osztály) as hany_van
	from órarend
	group by osztály, tant
	union 
	select osztály,tant, 0 from tanít
	where not exists (select 1 from órarend where osztály = tanít.osztály))belso 
	inner join tantárgy on tantárgy.tant = belso.tant
where heti_óraszám > belso.hany_van

--c
go

create view hiányc as

select belso.*, heti_óraszám - hany_van as hiany
from
	(select osztály,tant, count(osztály) as hany_van
	from órarend
	group by osztály, tant
	union 
	(select osztály,tant, 0 from tanít
	except 
	select osztály,tant, 0
	from órarend))belso 
	inner join tantárgy on tantárgy.tant = belso.tant
where heti_óraszám > belso.hany_van


--d
go

create view hiányd as

select belso.*, heti_óraszám - hany_van as hiany
from
	(select osztály,tant, count(osztály) as hany_van
	from órarend
	group by osztály , tant 
	union 
	select t.osztály,t.tant, 0
	from tanít t
	left outer join órarend o on o.osztály=t.osztály and o.tant=t.tant
	where o.osztály is null
	)belso 
	inner join tantárgy on tantárgy.tant = belso.tant
where heti_óraszám > belso.hany_van
